.containerTitle {
    text-align: center;
    margin-bottom: 50px;

}

.desktop {
    max-width: 100%;
}

.tablet {
    max-width: 100%;
}

.mobile {
    max-width: 100%;
}

.container {
    padding: 50px;
}